header
{
display: flex;
justify-content: space-between;
}
.liens
{
display: flex;
justify-content: space-around;
width: 30%;

}
main div section
{
display: flex;
flex-direction: column;
width: 70%;
}
main
{
display: flex;
justify-content: flex-end;
align-items: flex-end;

}
main div section div
{
justify-content: space-between;
display: flex;
flex-direction: column;
margin: 10px;
}
h2
{
text-decoration: underline;
text-shadow: 3px 3px 3px purple;
}
main img
{
width: 80%;
}